/* ------- BASIC RESET AND GLOBAL STYLES ------- */
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif; 
    line-height: 1.6; 
    background-image: url('images/neon-street.jpg');
    background-size: cover;
    
}

/* ------- CONTAINER STYLES ------- */
.content {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    max-width: 900px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    position: relative;


}

/* ------- LEFT COLUMN STYLES ------- */
.left {
    flex: 1; 
    min-width: 250px; 
    margin-right: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
}

.main {
    width: 150px; 
    height: 150px; 
    background-size: cover;       
    background-position: center; 
    border-radius: 50%;;
    position: relative; 
    top: 10px;
}

.name {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

.github-link {
    color: black;
    text-decoration: underline;
}

/* ------- RIGHT COLUMN STYLES ------- */
.right {
    flex: 2; 
}

.dummy-text p {
    margin-bottom: 15px;
    position: relative; top: 10px;
}

/* ------- FORM STYLES ------- */
.form-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.input {
    margin-bottom: 15px;
}

.input label {
    display: block;
    margin-bottom: 5px;     
}

.input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.button {
    margin-top: 20px;
    text-align: center; 
}

.button button {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

/* ------- LOG IN LINK STYLES ------- */
.log-in {
    margin-top: 20px;
    text-align: center;
}

.login-link  {
    color: #007bff; 
}

/* ------- MEDIA QUERY FOR RESPONSIVENESS ------- */
@media screen and (max-width: 768px) {
    .content {
        flex-direction: column; 
    }

    .left { 
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/* ------ Theme Buttons -------- */
.theme-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
  


.sun-icon {
    display: none; /* Hide by default */
    width: 50px;
    height: 50px;
    color: #f0f0f0;
}

.sun-icon.active {
    display: block; /* Show when active */
}

.moon-icon {
    display: none; /* Show by default */
    width:50px;
    height: 50px;
}

.moon-icon.active {
    display: block; /* Hide when active */
}

/* ------- DARK MODE STYLES ------- */
body.dark-mode {
    background-color: #222;
    color: #f0f0f0;  
}

body.dark-mode .github-link {
    color: #f0f0f0; 

}

body.dark-mode .content {
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

body.dark-mode .input input {
    background-color: #444;
    border-color: #555; 
}

body.dark-mode .button button {
    background-color: #7f24f7;  
}

body.dark-mode .login-link  {
    color: #7f24f7; 
}